
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230524/pngtree-room-with-a-brick-wall-and-table-image_2607795.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Celulares */
@media (max-width: 768px) {
  body {
    background-attachment: scroll; /* mejor para móviles */
    background-position: center top; /* muestra mejor la parte superior */
  }
}